@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    display: grid;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(./images/mobile/mobile-background.png);
}

title {
    display: none;
}

div {
    justify-items: center;
}

section {
    justify-items: center;
}

.button {
    border: none;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    padding: 5px 25px;
    color: white;
    background-color: #fa4564;
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
    background-color: crimson;
}

.link {
    cursor: pointer;
    transition: 0.3s;
}

.link:hover {
    color: crimson;
}

.pink {
    color: #fa4564;
}

.purple {
    color: #9A0680;
}

.darkPurple {
    color: #5F256E;
}

.w5 {
    font-weight: 500;
}

.w6 {
    font-weight: 600;
}

.w7 {
    font-weight: 700;
}

.topLogo {
    height: 70px;
    margin: 10px;
}

.fullLogo {
    height: 100px;
}

.appName {
    width: 250px;
    margin: 45vh 0 1vh 0;
}

.navIcon {
    width: 10vw;
}

#slogan {
    font-weight: 700;
}

#signUpBtn {
    margin: 5vh 0;
    font-size: larger;
}

#goToLogin {
    display: flex;
    margin-left: 2vw;
}

#goToLoginBtn {
    padding-left: 2vw;
}

.top {
    grid-template-columns: 20vw 60vw 20vw;
    margin-top: 2vh;
}

.icon-arrow-left2 {
    align-content: center;
    cursor: pointer;
}

.meow {
    margin: 20px 0 10px;
    font-size: larger;
}

#aDiv {
    display: flex;
    align-items: center;
}

#forgotPass {
    border: none;
    background: none;
    font-size: large;
}

#progressMsg {
    margin-top: 3vh;
}

#logInMessage {
    margin: 2vh;
    font-size: large;
    background-color: red;
    font-weight: 600;
}

.googleBtn {
    display: inline-flex;
    justify-content: space-evenly;
    margin: 3vh 0;
    background: white;
    color: rgba(68, 68, 68, 0.786);
    width: 230px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    cursor: pointer;
}

.googleIcon {
    width: 28px;
}

.fbIcon {
    height: 32px;
}

.buttonText {
    align-content: center;
}

.fbBtn {
    display: inline-flex;
    justify-content: space-evenly;
    background: #3A5B9B;
    color: white;
    width: 255px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    cursor: pointer;
}

/* floating label */

.container {
    margin: 16px;
}

#labelResetPass{
    margin-left: 74px;
}

.passwordGroup {
    grid-template-columns: 99% 1%;
    align-items: flex-start;
}

.emailLabel {
    padding-left: 7.5px;
}

#eyeSlashLogo1, #eyeLogo1 {
    transform: translateY(90%);
    cursor: pointer;
    transition: all 0.4;
}

#eyeSlashLogo1:hover, #eyeLogo1:hover {
    color: #fa4564;
}

.formLabel {
    margin-left: 20px;
    transform: translateY(-2.36em);
    transform-origin: 0 0;
    transition: all .3s;
    justify-self: left;
    color: rgba(68, 68, 68, 0.786);
}

.formItem {
    margin: 15px;
    outline: none;
    border-width: 0 0 2px;
    border-color: #ccc;
    transition: all .5s;
    background-color: transparent;
}

.formItem::placeholder {
    color: transparent;
}

.formItem:focus {
    border-color: #fa4564;
}

.formItem:focus + .formLabel,
.formItem:not(:placeholder-shown) + .formLabel
{
    transform: translateY(-3.5em) scale(.8);
}

.valid {
    background-color: rgb(113, 194, 33);
}

.invalid {
    background-color: red;
}

#checkEmailMsg{
    grid-template-columns: 70vw;
    margin: 12vh 1vh 5vh 1vh;
}
#passMsg{
    font-size: 12px;
    margin-top: -15px;
    margin-bottom: 7px;
}
.flexDlt {
    display: flex;
    margin-top: 5px;
    gap: 15px;
}
/***yohana cambios **/
.padlock{
    width: 140px;
    margin: 5vh 0 4vh 0;
}
.meowFontMedium {
    margin: 1px 0 20px 0px;
    font-size: medium;
}
.send{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.flex {
    display: flex;
    margin-top: 5px;
}
.space{
    margin: 5px;
}
.meow1 {
    margin: 5px 0 5px;
    font-size: larger;
}
.margin{
    margin: 20px;
}
/** Yohana cambios feed*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 20px;
    z-index: 10;
    width: 65vh;
    max-width: 80%;
    height: 50vh;
    padding: 10px;
}
.modalDlt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 20px;
    z-index: 10;
    width: 50vh;
    max-width: 80%;
    height: 30vh;
    padding: 10px;
}
.modal.inactive, .modalDlt.inactive {
    transform: translate(-50%, -50%) scale(0);
}
.modal.active, .modalDlt.active {
    transform: translate(-50%, -50%) scale(1);
}
#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
#overlay.inactive {
    opacity: 0;
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}
#postForm, #deleteDiv {
    background-color:white;
    box-shadow: 0px 10px 15px -5px #141414;
}

#postDescription {
    resize: none;
    height: 150px;
    background: white;
    border-radius: 10px;
}
.allPost {
    border: 1px solid #d7d4d4;
}
#userName {
    margin: 5px;
    font-weight: bold;
}
.select {
    height: 4vh;
    background: white;
    border-radius: 10px;
}
.post {
    grid-template-columns: 1fr 1fr;
}
.gridColum {
    grid-template-columns: 2fr 1fr;
}
.mtop {
    margin-top: 15px;
}
.deletePopUp {
    display: block;
}
/*********/

.desktop {
    display: none;
}

.logoFeed{
    height: 65px;
    margin-left: 2vw;
}

.navFeed{
    background: #fff;
    padding-bottom: 10px;
    border-bottom: solid 1px #DEDEE2;
} 

.nav{
    position: relative;
    left: 100%;
    top: 23%;
    height: 40px
}

.footerFeed{
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    background: #fff;
    border-radius: 60px 60px 0px 0px;
    box-shadow: 0px 0px 4px 1px #d4cdcd;
    justify-content: space-around;
}

#uploadPost{
    height: 60px;
    position: absolute;
    bottom: 15%;
}
#uploadPost:hover {
    cursor: pointer;
}

#postFormContainer {
    background: white;
    box-shadow: 0px 10px 15px -5px #c6c6c6;
    border-radius: 10px;
    width: 40vh;
}
.postBody {
    background: #efecec;
    border-radius: 0px 0px 10px 10px;
    height: 150px;
}
#postContainer {
    gap: 20px;
}
.usersEmail {
    padding: 15px;
}

#like {
    cursor: pointer;
}

@media (min-width: 867px) and (max-width: 1800px){
    body {
        background-image: url(./images/desktop/desktop-background.png);
    }

    .desktop {
        display: grid;
    }

    #designImage {
        height: 100vh;
    }

    #homeMain {
        grid-template-columns: 42vw 58vw;
    }

    .containerLogo, .containerLogoLetters {
        display: none;
    }

    #homeLogo {
        width: 38vw;
        margin: 15vh 6vw 0 6vw;
    }

    #desktopSlogan {
        font-size: 3.5vh;
    }

    #goToLogin {
        font-size: larger;
    }

    /* styles for register */
    #registerMain, #loginMain {
        background-color: white;
        box-shadow: 0px 0px 9px 2px #d4cdcd;
        width: 35vw;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    /* styles for feed */
    .headerReset {
        width: 100vw;
    }
    .left{
        margin-left: 10vh;
        height: 90px;
    }
    .containerFirstPart{
        background: white;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 9px 2px #d4cdcd;
        width: 35vw;
    }
  
    .top {
        grid-template-columns: 20% 60% 20%;
    }

    .nav {
        display: none;
    }

    .orContinueWith {
        margin-bottom: 5vh;
    }

    #postContainer {
        gap: 20px;
    }
    #postFormContainer {
        width: 60vh;
    }
}