@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    display: grid;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

title {
    display: none;
}

div {
    justify-items: center;
}

.button {
    border: none;
    border-radius: 20px;
    padding: 5px 25px;
    color: white;
    background-color: #fa4564;
}

.button:hover {
    cursor: pointer;
}

.pink {
    color: #fa4564;
}

.darkPurple {
    color: #5F256E;
}

.w5 {
    font-weight: 500;
}

.w6 {
    font-weight: 600;
}

.w7 {
    font-weight: 700;
}

.topLogo {
    height: 70px;
    margin: 10px;
}

.fullLogo {
    height: 100px;
}

.inputBoxes {
    margin: 20px;
}

#createAccBtn {
    margin-bottom: 2vh;
}

.appName {
    width: 250px;
    margin: 45vh 0 1vh 0;
}

.navIcon {
    width: 10vw;
}

#slogan {
    font-weight: 700;
}

#signUpBtn {
    margin: 5vh 0;
}

#goToLogin {
    display: flex;
    justify-content: center;
}

#goToLoginBtn {
    padding-left: 2vw;
    cursor: pointer;
}

.top {
    grid-template-columns: 20vw 60vw 20vw;
    margin-top: 2vh;
}

.icon-arrow-left2 {
    align-content: center;
    cursor: pointer;
}

#aDiv {
    display: flex;
    align-items: center;
}

#forgotPass {
    border: none;
    background: none;
}

#goToLogin {
    margin-left: 2vw;
}

.googleBtn {
    display: inline-flex;
    justify-content: space-evenly;
    margin: 2vh 0;
    background: white;
    color: #444;
    width: 230px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    cursor: pointer;
}

.googleIcon {
    width: 28px;
}

.fbIcon {
    height: 32px;
}

.buttonText {
    align-content: center;
}

.fbBtn {
    display: inline-flex;
    justify-content: space-evenly;
    background: #3A5B9B;
    color: white;
    width: 255px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    cursor: pointer;
}

/* floating label */

.container {
    margin: 16px;
}

.formGroup {
    justify-items: left;
}

.formLabel {
    margin-left: 20px;
    transform: translateY(-2.36em);
    transform-origin: 0 0;
    transition: all .3s;
}

.formItem {
    margin: 15px;
    outline: none;
    border-width: 0 0 2px;
    border-color: #ccc;
    transition: all .5s;
    background-color: transparent;
}

.formItem::placeholder {
    color: transparent;
}

.formItem:focus {
    border-color: #fa4564;
}

.formItem:focus + .formLabel,
.formItem:not(:placeholder-shown) + .formLabel
{
    transform: translateY(-3.5em) scale(.8);
}

.valid {
    background-color: lawngreen;
}

.invalid {
    background-color: tomato;
}

#checkEmailMsg{
    grid-template-columns: 70vw;
    margin: 12vh 1vh 5vh 1vh;
}
